<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Réinitialisation de votre mot de passe REEFLOG</title>
</head>
<body>

<h1>Réinitialisation de votre mot de passe REEFLOG</h1>

<p th:text="${message}" style="color:red"></p>

<form th:action="@{/web/recoverPasswordMail}" th:object="${resetPasswordForm}" method="POST">
    <label for="password">Saisissez votre mot de passe (6 caractères mini)</label>
    <input type="password" id="password" name="password" th:field="*{password}">
    <label for="repassword">Saisissez votre mot de passe à nouveau</label>
    <input type="password" id="repassword" name="repassword" th:field="*{repassword}">
    <input type="text" id="token" name="token" th:field="*{token}" th:value="${resetPasswordForm.getToken()}" hidden>
    <button type="submit">
        Envoyer
    </button>
</form>
</body>
</html>